
<!DOCTYPE html>
<html>
<head>
    <title>Contact successfully </title>

<body>
{% include 'nav.html' %}
<h2>Your contact is successfully saved. If you want to inquire about more queries, please contact us.</h2>
<br>
<table class="table table-hover">
  <thead class="table-active">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Dhanush Sabirinath</td>
      <td>Kunchala</td>
      <td>kunchaldad@mail.sacredheart.edu</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Vamsi Krishna</td>
      <td></td>
      <td>n</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Sudarshan</td>
      <td>Tirumalakanduri</td>
      <td>tirumalakanduris@mail.sacredheart.edu</td>
    </tr>

  </tbody>
</table>
</body>
</head>
</html>
