{% extends 'base.html' %}
{% block content %}
<h1>About Us</h1>
<p>
    Increased internet usage allowed many technological advancements that make the user or the customer have facilities
    to get the things they wish in just one click. Also, many businesses are making use of the Internet in their
    expansion and scaling.
</p>
<p>The demand and supply chain of the customers and the business owners are synchronous with the development of the
    needs and want. </p>
<p>As everything is based on online communications, businesses are moving into e-commerce platforms. This increased the
    business and sales scaling.</p>
<p>In these e-commerce platforms, the owner and customer interaction is limited to promotional messages and product
    reviews. There is no scope for direct customer interactions. It needs an effective communication channel to make
    business transactions easier. </p>
<p>Also, the search preferences of the products, and pricing varies from person to person. Targeting customers who can
    prefer to choose certain products is the first strategy to implement. To make this easy, customer segmentation plays
    a major role.</p>
<p>When we researched about implementing this project, we found that the major problems include effective direct
    communications to understand customer preferences and reviews. The other problem is marketing to the right audience.
    If the product or the service is not intended for the specific audience who is looking for it, the marketing goes
    wrong. </p>
<p>So, to make the business reach the right audience and show the products to the people, it requires customer
    segmentation.
    With this project, we have planned to segment the customers based on their product searches, purchase history, and
    customer behavior. This makes the e-commerce platforms analyze the customer behavior towards the products, deals,
    etc. and they can target a particular area of customers during deals. Also, for the customers, it becomes
    hassle-free from all the unwanted or unperformable stuff.
</p>
{% endblock %}