{% extends 'nav.html' %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
<script src="{% static 'js/registration.js' %}"></script>
<style>
.actions li:last-child a{
display:none;
}


</style>
<div class="wrapper">
    <form method="post" action="{% url 'login' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="wizard" style="min-height:500px; margin-top:-80px;">
            {% include 'show_message.html' %}
            <h3>Login Form</h3>
            <section>
                <div class="form-row"><input type="email" class="form-control" placeholder="Email Address"
                                             name="username" required></div>
                <div class="form-row"><input type="password" class="form-control" placeholder="Password" name="password"
                                             required></div>
                <a href="/reset_password/">Forgot Password?</a>
                <div class="form-row"><input type="submit" class="form-control btn btn-primary" value="Submit"></div>
            </section>
        </div>
    </form>
</div>
 <!-- Include footer -->
  {% include 'footer.html' %}
{% endblock %}