{% extends 'nav.html' %}
{% load static %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
<script src="{% static 'js/registration.js' %}"></script>
<style>
.actions li:last-child a{
display:none;
}
</style>
<div class="wrapper">
    <form method="post" action="{% url 'registration' %}" enctype="multipart/form-data">
        {% csrf_token %}
            {% include 'show_message.html' %}
        <div id="wizard" style="min-height:500px; margin-top:-80px;">
            <!-- SECTION 1 -->
            <h4></h4>
            <section>
                <div class="form-row">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" id="first_name"
                                             name="first_name" required>
                </div>
                <div class="form-row">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" name="last_name"
                                             required id="last_name">
                </div>
                <div class="form-row">
                    <label for="dob">Date Of Birth</label>
                    <input type="date" class="form-control" placeholder="Date of Birth" name="dob" id="dob"
                                             required>
                </div>
            </section> <!-- SECTION 2 -->
            <h4></h4>
            <section>
                <div class="form-row">
                    <label for="gender">Gender</label>
                    <select class="form-control" required name="gender" id="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-row">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" placeholder="Email Address" name="email"
                                             required id="email">
                </div>
                <div class="form-row">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password"
                                             required id="pass"></div>
                <div class="form-row"><input type="submit" class="form-control btn btn-primary" value="Submit"></div>
            </section> <!-- SECTION 3 -->
        </div>
    </form>

</div>
 <!-- Include footer -->
  {% include 'footer.html' %}
<script>
    var link = document.querySelector('li > a[href="#finish"]');
    link.style.display = 'none';

</script>
{% endblock %}